@model DIPLOMA.Models.DirectoryClients

@{
    ViewData["Title"] = Model.FirstName + " " + Model.Patronymic + " " + Model.SecondName + " - Изменение";
}

<h1 class="mb-5">Изменение</h1>

<h4>Клиент <b>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.Patronymic) @Html.DisplayFor(model => model.SecondName)</b></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DirectoryClientsID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Имя</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label">Фамилия</label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label">Отчество</label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientDate" class="control-label">Дата создания</label>
                <input asp-for="ClientDate" class="form-control" />
                <span asp-validation-for="ClientDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportSerial" class="control-label">Серия паспорта</label>
                <input asp-for="PassportSerial" class="form-control" />
                <span asp-validation-for="PassportSerial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportNumber" class="control-label">Номер паспорта</label>
                <input asp-for="PassportNumber" class="form-control" />
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressRegistration" class="control-label">Адрес регистрации</label>
                <input asp-for="AddressRegistration" class="form-control" />
                <span asp-validation-for="AddressRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressResidential" class="control-label">Адрес проживания</label>
                <input asp-for="AddressResidential" class="form-control" />
                <span asp-validation-for="AddressResidential" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label">Телефон</label>
                <input asp-for="TelephoneNumber" class="form-control" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAboutWorkPlace" class="control-label">Данные о месте работы</label>
                <input asp-for="DataAboutWorkPlace" class="form-control" />
                <span asp-validation-for="DataAboutWorkPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-dark">Назад</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
