@model DIPLOMA.Models.DirectoryEmployees

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DirectoryEmployees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DirectoryEmployeesID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label"></label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportSerial" class="control-label"></label>
                <input asp-for="PassportSerial" class="form-control" />
                <span asp-validation-for="PassportSerial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportNumber" class="control-label"></label>
                <input asp-for="PassportNumber" class="form-control" />
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressRegistration" class="control-label"></label>
                <input asp-for="AddressRegistration" class="form-control" />
                <span asp-validation-for="AddressRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressResidential" class="control-label"></label>
                <input asp-for="AddressResidential" class="form-control" />
                <span asp-validation-for="AddressResidential" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MaritalStatus" /> @Html.DisplayNameFor(model => model.MaritalStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label"></label>
                <input asp-for="TelephoneNumber" class="form-control" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectoryServicesID" class="control-label"></label>
                <select asp-for="DirectoryServicesID" class="form-control" asp-items="ViewBag.DirectoryServicesID"></select>
                <span asp-validation-for="DirectoryServicesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeDate" class="control-label"></label>
                <input asp-for="EmployeeDate" class="form-control" />
                <span asp-validation-for="EmployeeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
