<body class="m-0 p-0">

    <div class="bg-primary m-0 p-1 text-white"><h4>Справочники</h4></div>

    <a asp-controller="DirectoryClients" asp-action="Create" class="btn btn-secondary">Клиенты</a>

</body>