@{
    ViewData["Title"] = "Документы";
}
<body class="m-0 p-0">

    <div class="bg-primary m-0 p-3 text-white"><h4>Документы</h4></div>

    <div class="mt-3 pt-3 mb-3 ">
        <div class="row mb-3 directorys">
            <a asp-controller="DocumentAccommodations" asp-action="Index" class="flex-fill btn btn-secondary ml-3 mr-3">Размещение</a>
            <a asp-controller="" asp-action="" class="flex-fill btn btn-secondary mr-3">...</a>
            <a asp-controller="" asp-action="" class="flex-fill btn btn-secondary mr-3">...</a>
        </div>
        <div class="row directorys">
            <a asp-controller="" asp-action="Index" class="flex-fill btn btn-secondary ml-3 mr-3">...</a>
            <a asp-controller="" asp-action="Index" class="flex-fill btn btn-secondary mr-3">...</a>
            <a asp-controller="" asp-action="Index" class="flex-fill btn btn-secondary mr-3">...</a>
        </div>
    </div>
</body>